---
import PricingCard from '../PricingCard.astro';

interface PricingItem {
  name: string;
  description: string;
  price: string;
  billingFrequency: string;
  features: string[];
}

interface Props {
  title: string;
  subTitle: string;
  items: PricingItem[];
}

const { title, subTitle, items } = Astro.props;
---

<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
  <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
    <h2
      class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
    >
      {title}
    </h2>
    <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
      {subTitle}
    </p>
  </div>

  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {items.map((item, index) => <PricingCard {...item} isHighlighted={index === 1} />)}
  </div>
</section>
