---
import Layout from '../layouts/Layout.astro';
import HeroSection from '@/components/HeroSection.astro';
---

<Layout title="Accueil">
  <main>
    <HeroSection
      title=`Cercle hippique de <span class="text-teal-800 dark:text-yellow-400">Gouvieux</span>`
      subTitle="Centre équestre familial orienté vers le loisir, offrant cours pour tous les niveaux et pensions"
      primaryBtn="Décourvir le club"
      primaryBtnURL={`/club`}
    />
  </main>
</Layout>
