---
const { title, subTitle, activities } = Astro.props;

interface Props {
  title: string;
  subTitle?: string;
  activities?: Array<string>;
}

const ListItemMarker: string = `<svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mt-0.5 h-6 w-6 text-teal-600 dark:text-teal-500 flex-none"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>`;
---

<section class="mx-auto max-w-[85rem] px-4 pb-10 sm:px-6 lg:px-8 lg:pb-14">
  <div class="grid gap-12 md:grid-cols-2">
    <div class="lg:w-3/4">
      <h2
        class="text-balance text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:leading-tight lg:text-4xl"
      >
        {title}
      </h2>
      {subTitle && <p class="mt-3 text-pretty text-neutral-600 dark:text-neutral-400">{subTitle}</p>}
      {
        activities && (
          <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-5">
            {activities.map((item) => (
              <li class="flex space-x-3">
                <Fragment set:html={ListItemMarker} />
                <span class="text-pretty text-base font-medium text-neutral-600 dark:text-neutral-400">{item}</span>
              </li>
            ))}
          </ul>
        )
      }
    </div>
    <div class="space-y-6 lg:space-y-10">
      <div class="flex">
        <div>
          <h3 class="text-base font-bold text-neutral-800 dark:text-neutral-200 sm:text-lg">Mais aussi :</h3>
          <p class="mt-1 text-neutral-600 dark:text-neutral-400">Pony-Games, Endurance, Équithérapie, Équifun…</p>
        </div>
      </div>
      <div class="flex">
        <div>
          <h3 class="text-base font-bold text-neutral-800 dark:text-neutral-200 sm:text-lg">Mais encore :</h3>
          <ul class="list-disc pl-5 text-neutral-600 dark:text-neutral-400">
            <li>Tous les dimanches matin (9h30 à cheval) balade de 2H en forêt de Gouvieux ou alentours</li>
            <li>Le club propose de fêter des anniversaires les dimanches après-midi</li>
            <li>Possibilité d'enterrement de vie de jeune filles/garçons</li>
            <li>Possibilité de balade en main (30 min ou 1H) avec des Shetlands</li>
            <li>Inscription toute l'année</li>
            <li>Stage à chaque vacances scolaires pour tous les niveaux</li>
            <li>Les écoles sont les bienvenues</li>
          </ul>
        </div>
      </div>
      <div class="flex">
        <div>
          <h3 class="text-base font-bold text-neutral-800 dark:text-neutral-200 sm:text-lg">
            Pour tous renseignements
          </h3>
          <p class="mt-1 text-neutral-600 dark:text-neutral-400">
            Pour tous renseignements
            <a href="tel:0621660508" class="underline">contacter Stéphanie Dorothée</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
